<style>
    /* CSS personalizado */
    .select2-hidden {
        opacity: 0;
        position: absolute;
        width: 1px;
        height: 1px;
    }

    .input-group .select2-container {
        flex: 1 1 auto;
    }

    .input-group .select2-selection {
        height: 100%;
    }

    .input-group .select2-selection:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
</style>

@model capa_entidad.MATRIZINTEGRACIONCOMPONENTES


@using (Html.BeginForm("GuardarMatrizIntegracion", "Planificacion", FormMethod.Post, new { @class = "card", @autocomplete = "off", @id = "formMatrizIntegradora", @novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.id_matriz_integracion, new
    {
        id = "idMatriz"
    })

    <div class="card-header pb-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link nav-link-tab active esp-link" id="generales-tab" data-bs-toggle="tab" data-bs-target="#generales" type="button" role="tab" aria-controls="generales" aria-selected="true">
                    Datos generales
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-link-tab esp-link" id="competencias-tab" data-bs-toggle="tab" data-bs-target="#competencias" type="button" role="tab" aria-controls="competencias" aria-selected="false">
                    Competencias y objetivos
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-link-tab esp-link" id="objetivos-tab" data-bs-toggle="tab" data-bs-target="#objetivos" type="button" role="tab" aria-controls="objetivos" aria-selected="false">
                    Objetivos
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-link-tab esp-link" id="asignatura-tab" data-bs-toggle="tab" data-bs-target="#asignatura" type="button" role="tab" aria-controls="asignatura" aria-selected="false">
                    Asignaturas
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body overflow-auto" style="max-height: 45vh;">
        <div class="tab-content" id="myTabContent">
            <!--Datos generales-->
            <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
                <div class="row">
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Código</span>
                            @Html.TextBoxFor(m => m.codigo, new
                            {
                                @class = "form-control",
                                @disabled = "disabled"
                            })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Nombre</span>
                            @Html.TextBoxFor(m => m.nombre, new
                            {
                                @class = "form-control",
                                required = "required",
                                @oninvalid = "this.setCustomValidity('El nombre es requerido')",
                                @oninput = "setCustomValidity('')",
                                maxlength = "255"
                            })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectAsignatura" class="input-group-text">Asignatura</label>
                            <input type="hidden" name="fk_asignatura_activa" id="fk_asignatura_activa" value="@Model.fk_asignatura" />
                            @Html.DropDownListFor(m => m.fk_asignatura,
                                new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                "Seleccione una asignatura...",
                                new
                                {
                                    @class = "form-select select2-hidden",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('La asignatura es requerida')",
                                    @oninput = "setCustomValidity('')",
                                    id = "inputGroupSelectAsignatura"
                                })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Profesor</span>
                            @Html.TextBoxFor(m => m.usuario, new
                           {
                               @class = "form-control",
                               @disabled = "disabled"
                           })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectPeriodo" class="input-group-text">Periodo</label>
                            <input type="hidden" name="fk_periodo_activo" id="fk_periodo_activo" value="@Model.fk_periodo" />
                            @Html.DropDownListFor(m => m.fk_periodo,
                              new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                              "Seleccione un periodo...",
                              new
                              {
                                  @class = "form-select select2-hidden",
                                  required = "required",
                                  @oninvalid = "this.setCustomValidity('El periodo es requerido')",
                                  @oninput = "setCustomValidity('')",
                                  id = "inputGroupSelectPeriodo"
                              })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Inicio/Fin</span>
                            @{
                                var fecha = Model?.fecha_registro.ToString("yyyy-MM-dd");

                                if (fecha == "0001-01-01")
                                {
                                    fecha = DateTime.Today.ToString("yyyy-MM-dd");
                                }
                            }

                            @Html.TextBoxFor(m => m.fecha_registro, "{0:yyyy-MM-dd}", new
                            {
                                @type = "date",
                                @class = "form-control",
                                required = "required",
                                @oninvalid = "this.setCustomValidity('La fecha de inicio es requerida')",
                                @oninput = "setCustomValidity('')",
                                @Value = fecha
                            })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectArea" class="input-group-text">Área de Conocimiento</label>
                            <input type="hidden" name="fk_area_activa" id="fk_area_activa" value="@Model.fk_area" />
                            @Html.DropDownListFor(m => m.fk_area,
                              new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                              "Seleccione una área de conocimiento...",
                              new
                              {
                                  @class = "form-select select2-hidden",
                                  required = "required",
                                  @oninvalid = "this.setCustomValidity('El área de conocimiento es requerida')",
                                  @oninput = "setCustomValidity('')",
                                  id = "inputGroupSelectArea"
                              })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectDepartamento" class="input-group-text">Departamento</label>
                            <input type="hidden" name="fk_departamento_activo" id="fk_departamento_activo" value="@Model.fk_departamento" />
                            @Html.DropDownListFor(m => m.fk_departamento,
                              new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                              "Seleccione un departamento...",
                              new
                              {
                                  @class = "form-select select2-hidden",
                                  required = "required",
                                  @oninvalid = "this.setCustomValidity('El departamento es requerida')",
                                  @oninput = "setCustomValidity('')",
                                  id = "inputGroupSelectDepartamento"
                              })
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectCarrera" class="input-group-text">Carrera</label>
                            <input type="hidden" name="fk_carrera_activa" id="fk_carrera_activa" value="@Model.fk_carrera" />
                            @Html.DropDownListFor(m => m.fk_carrera,
                              new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                              "Seleccione una carrera...",
                              new
                              {
                                  @class = "form-select select2-hidden",
                                  required = "required",
                                  @oninvalid = "this.setCustomValidity('La carrera es requerida')",
                                  @oninput = "setCustomValidity('')",
                                  id = "inputGroupSelectCarrera"
                              })
                        </div>
                    </div>
                </div>
            </div>

            <!--Competencias y Objetivos-->
            <div class="tab-pane fade" id="competencias" role="tabpanel" aria-labelledby="competencias-tab">
                <div class="row">
                    <div class="col col-md-12 col-sm-12 mb-3">
                        <div class="card border-left-primary shadow-sm">
                            <div class="card-header">
                                <i class="fa fa-lightbulb fa-lg text-primary me-2"></i>
                                <label class="form-label fs-5 fw-medium mb-0">Competencias</label>
                            </div>
                            <div class="card-body">
                                @Html.TextAreaFor(m => m.competencias, 5, 50, new
                                {
                                    @class = "form-control",
                                    id = "competenciasSummernote",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('Las competencias son requeridas')",
                                    @oninput = "setCustomValidity('')",
                                    maxlength = "1000"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col col-md-12 col-sm-12 mb-3">
                        <div class="card border-left-warning shadow-sm">
                            <div class="card-header">
                                <i class="fa fa-bullseye fa-lg text-warning me-2"></i>
                                <label class="form-label fs-5 fw-medium mb-0">Estrategia integradora</label>
                            </div>
                            <div class="card-body">
                                @Html.TextAreaFor(m => m.estrategia_integradora, 3, 50, new
                                {
                                    @class = "form-control",
                                    id = "estrategiaIntegradoraSummernote",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('El objetivo de aprendizaje es requerido')",
                                    @oninput = "setCustomValidity('')",
                                    maxlength = "500"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

            <!--objetivos y Contenidos-->
            <div class="tab-pane fade" id="objetivos" role="tabpanel" aria-labelledby="objetivos-tab">
                <div class="row">
                    <div class="col col-md-12 col-sm-12 mb-3">
                        <div class="card border-left-success shadow-sm">
                            <div class="card-header">
                                <i class="fa fa-stream fa-lg text-success me-2"></i>
                                <label class="form-label fs-5 fw-medium mb-0">Objetivos de año</label>
                            </div>
                            <div class="card-body">
                                @Html.TextAreaFor(m => m.objetivo_anio, 3, 50, new
                                {
                                    @class = "form-control",
                                    id = "objetivoAnioSummernote",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('El objetivo del año es requerido')",
                                    @oninput = "setCustomValidity('')",
                                    maxlength = "1000"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col col-md-12 col-sm-12 mb-3">
                        <div class="card border-left-info shadow-sm">
                            <div class="card-header">
                                <i class="fa fa-bullseye fa-lg text-info me-2"></i>
                                <label class="form-label fs-5 fw-medium mb-0">Objetivos de semestre</label>
                            </div>
                            <div class="card-body">
                                @Html.TextAreaFor(m => m.objetivo_semestre, 2, 50, new
                                {
                                    @class = "form-control",
                                    id = "objetivoSemestreSummernote",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('El objetivo semestral es requerido')",
                                    @oninput = "setCustomValidity('')",
                                    maxlength = "500"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col col-md-12 col-sm-12 mb-3">
                        <div class="card border-left-info shadow-sm">
                            <div class="card-header">
                                <i class="fa fa-bullseye fa-lg text-info me-2"></i>
                                <label class="form-label fs-5 fw-medium mb-0">Objetivo integrador</label>
                            </div>
                            <div class="card-body">
                                @Html.TextAreaFor(m => m.objetivo_integrador, 2, 50, new
                                {
                                    @class = "form-control",
                                    id = "objetivoIntegradorSummernote",
                                    required = "required",
                                    @oninvalid = "this.setCustomValidity('El objetivo integrador es requerido')",
                                    @oninput = "setCustomValidity('')",
                                    maxlength = "500"
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Asignaturas-->
            <div class="tab-pane fade" id="asignatura" role="tabpanel" aria-labelledby="asignatura-tab">
                <div class="row">
                    <div class="col col-md-4 col-sm-12">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelectAsignatura" class="input-group-text">Asignatura</label>
                            <input type="hidden" name="fk_asignatura" id="fk_asignatura" value="@Model.fk_asignatura" />
                            @Html.DropDownListFor(m => m.fk_asignatura,
                                new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                "Seleccione una asignatura...",
                                new
                                {
                                    @class = "form-select select2-hidden",
                                    @oninput = "setCustomValidity('')",
                                    id = "inputGroupSelectAsignaturaAsignar"
                                })
                        </div>
                    </div>
                </div>

                <hr />
            </div>
        </div>
    </div>

    <!-- Controles de navegación en el footer -->
    <div class="card-footer text-center">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-danger" id="btnAnterior" style="display: none;">
                <i class="fa fa-arrow-left"></i>
            </button>

            <div>
                <a href="@Url.Action("Matriz_de_Integracion", "Planificacion")" class="btn btn-danger me-2">
                    <i class="fa fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary" id="btnGuardar" style="display: none;">
                    <i class="fa fa-save"></i> @(Model.id_matriz_integracion == 0 ? "Guardar" : "Actualizar")
                </button>

                @if (Model.id_matriz_integracion != 0)
                {
                    <button type="submit" class="btn btn-primary" id="btnGuardar2">
                        <i class="fa fa-save"></i> Actualizar
                    </button>
                }
            </div>

            <button type="button" class="btn btn-outline-primary" id="btnSiguiente">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
}