
@{
    ViewBag.Title = "Carrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Titulo-->
<div class="alert text-center mt-4" style="background-color: #F7F7F7; border: 1px #D2D2D2 solid " role="alert"><h2 class="fs-3">@ViewBag.Title</h2></div>

<!--Contenedor-->
<div class="card">

    <div class="card-body">
        <div class="tab-content">
            <!--Contenedor 1-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <button type="button" class="btn btn-primary" onclick="abrirModal(null)"><i class="fa fa-plus"></i> Crear Carrera</button>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatable">
                    <thead class="table-cabezera cell-border" style="background: #0072BB; color: white">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal" id="Guardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-light" style="background-color: #0072BB">
                <h5 class="modal-title" id="exampleModalLabel">Carrera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">

                <input type="hidden" name="idCarrera" id="idCarrera" value="0">

                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required autocomplete="off">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label class="form-label" for="codigo">Código</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" required autocomplete="off">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="estado" checked required>
                            <label class="form-check-label" for="estado">Estado Inactivo/Activo</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pe-0 ps-0 flex-nowrap ">
                    <button type="button" class="btn btn-danger w-50" data-bs-dismiss="modal">
                        <i class="fas fa-times-circle me-2"></i>Cerrar
                    </button>
                    <button type="submit" style="background: #0072BB" onclick="Guardar()" class="btn btn-success w-50">
                        <i class="fas fa-save me-2"></i>Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

       var config = {
           listarCarreraUrl: '@Url.Action("ListarCarreras", "Catalogos")',
           guardarCarreraUrl: '@Url.Action("GuardarCarreras", "Catalogos")',
           eliminarCarreraUrl: '@Url.Action("EliminarCarreras", "Catalogos")'
        };
    </script>
    <script src="@Url.Content("~/Scripts/Views/Carrera.js")" type="text/javascript"></script>
}