
@{
    ViewBag.Title = "Gestión de Archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Content/EstilosComponentes/styleDropzone.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/EstilosComponentes/styleInputSearch.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Views/Archivos.css")" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css" />

<!--Contenedor-->
<div class="card shadow-sm mt-3">
    <div class="card-header pb-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!--Boton 1-->
            <li class="nav-item" role="presentation">
                <button class="nav-link active esp-link" id="home-tab" onclick="handleTabClick('home')" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    Archivos recientes
                </button>
            </li>
            <!--Boton 2-->
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="archivos-tab" onclick="handleTabClick('archivos')" data-bs-toggle="tab" data-bs-target="#archivo" type="button" role="tab" aria-controls="archivo" aria-selected="false">
                    Todos los archivos
                </button>
            </li>
            <!--Boton 3-->
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="buscar-tab" onclick="handleTabClick('buscar')" data-bs-toggle="tab" data-bs-target="#buscar" type="button" role="tab" aria-controls="buscar" aria-selected="false">
                    Buscar Archivo
                </button>
            </li>
            <!--Boton 4-->
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="compartidos-tab" onclick="handleTabClick('compartidos')" data-bs-toggle="tab" data-bs-target="#compartidos" type="button" role="tab" aria-controls="compartidos" aria-selected="false">
                    Archivos compartidos
                </button>
            </li>
            <!--Boton 5-->
            <li class="nav-item" role="presentation">
                <button class="nav-link esp-link" id="eliminados-tab" data-bs-toggle="tab" data-bs-target="#eliminados" type="button" role="tab" aria-controls="eliminados" aria-selected="false">
                    Papelera
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <!-- Contenedor 1-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">Archivos recientes</h2>
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-secondary ms-2" onclick="abrirModalCarpeta(null)">
                            <i class="fa fa-folder me-2"></i>Crear Carpeta
                        </button>
                        <button type="button" class="btn btn-primary ms-2" onclick="abrirModalSubirArchivo(null)">
                            <i class="fas fa-upload me-2"></i>Subir Archivo
                        </button>
                        <button type="button" class="btn btn-outline-primary ms-2" onclick="descargar()">
                            <i class="fas fa-download me-2"></i>Descargar
                        </button>
                    </div>
                </div>

                <ol class="breadcrumb mb-4 shadow-sm rounded bg-light p-3 align-items-center" id="breadcrumb-paginador">
                    <li class="breadcrumb-item">
                        <a href="#" onclick="navegarAInicio()" class="text-primary fw-bold">
                            <i class="fas fa-home me-2"></i>Inicio
                        </a>
                    </li>
                    <!-- Los elementos del paginador se generarán dinámicamente aquí -->
                </ol>

                <hr />

                <!--Carpetas-->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-carpetas-recientes">
                        <!-- Las carpetas se cargarán aquí dinámicamente -->
                    </div>
                </div>

                <hr>

                <!-- Archivos -->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-archivos-recientes">
                        <!-- Los archivos se cargarán dinámicamente aquí -->
                    </div>
                </div>
            </div>

            <!-- Contenedor 2-->
            <div class="tab-pane fade" id="archivo" role="tabpanel" aria-labelledby="archivos-tab">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">Mis archivos</h2>
                    <div>
                        <button type="button" class="btn btn-secondary" onclick="abrirModalCarpeta(null)">
                            <i class="fa fa-folder me-2"></i>Crear Carpeta
                        </button>
                        <button type="button" class="btn btn-primary" onclick="abrirModalSubirArchivo(null)">
                            <i class="fas fa-upload me-2"></i>Subir Archivo
                        </button>
                        <button type="button" class="btn btn-outline-primary" onclick="descargar()">
                            <i class="fas fa-download me-2"></i>Descargar
                        </button>
                    </div>
                </div>

                <ol class="breadcrumb mb-4 shadow-sm rounded bg-light p-3 align-items-center" id="breadcrumb-paginador-todos">
                    <li class="breadcrumb-item">
                        <a href="#" onclick="navegarAInicio()" class="text-primary fw-bold">
                            <i class="fas fa-home me-2"></i>Inicio
                        </a>
                    </li>
                    <!-- Los elementos del paginador se generarán dinámicamente aquí -->
                </ol>

                <hr />

                <!--Carpetas-->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-carpetas-todos">
                        <!-- Las carpetas se cargarán aquí dinámicamente -->
                    </div>
                </div>

                <hr>

                <!-- Archivos -->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-archivos-todos">
                        <!-- Los archivos se cargarán dinámicamente aquí -->
                    </div>
                </div>
            </div>

            <!-- Contenedor 3-->
            <div class="tab-pane fade" id="buscar" role="tabpanel" aria-labelledby="buscar-tab">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">Buscar archivos</h2>
                    <div class="d-flex justify-content-end align-content-center w-75">
                        <div class="input-group">
                            <span class="input-group-text">Buscar</span>
                            <input type="text" class="form-control">
                            <span>
                                <button class="btn btn-primary" id="buscarArchivos" onclick="buscarArchivos()"><i class="fa fa-search"></i></button>
                                <button class="btn btn-danger d-none" id="limpiarArchivos" onclick="limpiarArchivos()"><i class="fa fa-broom"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <ol class="breadcrumb mb-4 shadow-sm rounded bg-light p-3 align-items-center" id="breadcrumb-paginador-encontrados">
                    <li class="breadcrumb-item">
                        <a href="#" onclick="navegarAInicio()" class="text-primary fw-bold">
                            <i class="fas fa-home me-2"></i>Inicio
                        </a>
                    </li>
                </ol>

                <hr />

                <div class="container-fluid mb-3">
                    <div class="row g-3" id="buscarInicio">
                        <div class="alert alert-light">
                            <p class="text-center fs-6 fw-medium">Por favor, ingresa el nombre del archivo o carpeta que deseas buscar para ver los resultados aquí.</p>
                            <img src="~/Assets/img/buscar_archivo.png" alt="No hay archivos" style="max-width: 150px; display: block; margin: 10px auto;" />
                        </div>
                    </div>
                </div>

                <!--Carpetas-->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-carpetas-encontradas">
                        <!-- Las carpetas encontradas se cargarán dinámicamente aquí -->
                    </div>
                </div>

                <hr>

                <!-- Archivos -->
                <div class="container-fluid mb-3">
                    <div class="row g-3" id="contenedor-archivos-encontrados">
                        <!-- Los archivos encontrados se cargarán dinámicamente aquí -->
                    </div>
                </div>

            </div>

            <!-- Contenedor 4-->
            <div class="tab-pane fade" id="compartidos" role="tabpanel" aria-labelledby="compartidos-tab">
                <h2 class="mb-0">Carpetas compartidas</h2>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatableCarpetasCompartidas">
                    <thead class="table-cabezera cell-border" style="background: #0072BB; color: white">
                        <tr>
                            <th>#</th>
                            <th>Carpeta</th>
                            <th>Ruta</th>
                            <th>Fecha compartida</th>
                            <th>Usuario</th>
                            <th>Permisos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

                <h2 class="mb-0">Archivos compartidos</h2>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatableArchivosCompartidos">
                    <thead class="table-cabezera cell-border" style="background: #0072BB; color: white">
                        <tr>
                            <th>#</th>
                            <th>Carpeta</th>
                            <th>Ruta</th>
                            <th>Fecha compartida</th>
                            <th>Usuario</th>
                            <th>Permisos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>

            <!-- Contenedor 5-->
            <div class="tab-pane fade" id="eliminados" role="tabpanel" aria-labelledby="eliminados-tab">
                <h2 class="mb-0">Papelera</h2>
                <div class="row mt-3">
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" onclick="vaciarPapelera()">
                            <i class="fa fa-trash me-2"></i>Vaciar papelera
                        </button>
                    </div>
                    <!-- Filtros -->
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelectTipo">Filtrar por tipo:</label>
                            <select class="form-select" id="inputGroupSelectTipo">
                                <option selected disabled>Seleccionar...</option>
                                <option value="Todos">Todos</option>
                                <option value="Archivo">Archivo</option>
                                <option value="Carpeta">Carpeta</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <!--Tabla-->
                <table class="display cell-border" style="width: 100%" id="datatableArchivoEliminados">
                    <thead class="table-cabezera cell-border" style="background: #0072BB; color: white">
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Fecha de elimiación</th>
                            <th>Ruta del archivo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para crear/editar una nueva carpeta-->
    @Html.Partial("~/Views/Archivo/_ModalCrearCarpeta.cshtml")

    <!-- Modal para compartir carpeta -->
    @Html.Partial("~/Views/Archivo/_ModalCompartirCarpeta.cshtml")

    <!-- Modal para compartir archivo -->
    @Html.Partial("~/Views/Archivo/_ModalCompartirArchivo.cshtml")

    <!-- Modal para renombrar un archivo-->
    @Html.Partial("~/Views/Archivo/_ModalRenombrarArchivo.cshtml")

    <!-- Modal para subir archivos -->
    @Html.Partial("~/Views/Archivo/_ModalSubirArchivos.cshtml")

    <!-- Modal visualizar pdf/text -->
    @Html.Partial("~/Views/Archivo/_ModalVisualizarPDF-TXT.cshtml")

    <!-- Modal visualizar documentos onlyoffice -->
    @Html.Partial("~/Views/Archivo/_ModalVisualizarDocsOnlyOffice.cshtml")

    <!-- Modal visualizar imagenes/videos -->
    <div id="lightgallery" style="display:none;" hidden></div>

</div>

@section scripts{
    <!-- Core JS -->
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.umd.min.js"></script>

    <!-- Plugins JS -->
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/zoom/lg-zoom.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/fullscreen/lg-fullscreen.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/rotate/lg-rotate.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/share/lg-share.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/pager/lg-pager.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/autoplay/lg-autoplay.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/comment/lg-comment.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/hash/lg-hash.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/video/lg-video.umd.min.js"></script>

    <!-- Script de OnlyOffice -->
    <script src="http://192.168.1.50:8080/web-apps/apps/api/documents/api.js"></script>

    <script type="text/javascript">
        const config = {
            listarCarpetasRecientesUrl: '@Url.Action("ListarCarpetasRecientes", "Archivo")',
            listarCarpetasUrl: '@Url.Action("ListarCarpetas", "Archivo")',
            listarCarpetasCompartidasUrl: '@Url.Action("ListarCarpetasCompartidas", "Archivo")',
            listarArchivosCompartidosUrl: '@Url.Action("ListarArchivosCompartidos", "Archivo")',
            listarArchivosRecientesUrl: '@Url.Action("ListarArchivosRecientes", "Archivo")',
            listarArchivosUrl: '@Url.Action("ListarArchivos", "Archivo")',
            guardarCarpetaUrl: '@Url.Action("GuardarCarpeta", "Archivo")',
            eliminarCarpetaUrl: '@Url.Action("EliminarCarpeta", "Archivo")',
            eliminarArchivoUrl: '@Url.Action("EliminarArchivo", "Archivo")',
            compartirCarpetaUrl: '@Url.Action("CompartirCarpeta", "Archivo")',
            compartirArchivoUrl: '@Url.Action("CompartirArchivo", "Archivo")',
            subirArchivoUrl: '@Url.Action("SubirArchivo", "Archivo")',
            listarPapeleraUrl: '@Url.Action("ListarPapelera", "Archivo")',
            vaciarPapeleraUrl: '@Url.Action("VaciarPapelera", "Archivo")',
            eliminarDefinitivamenteUrl: '@Url.Action("EliminarDefinitivamente", "Archivo")',
            listarSubCarpetasUrl: '@Url.Action("ListarSubCarpetas", "Archivo")',
            listarArchivosPorCarpetaUrl: '@Url.Action("ListarArchivosPorCarpeta", "Archivo")',
            renombrarArchivoUrl: '@Url.Action("RenombrarArchivo", "Archivo")',
            buscarArchivos: '@Url.Action("Buscar", "Archivo")',
            dejarDeCompartirArchivoUrl: '@Url.Action("DejarDeCompartirArchivo", "Archivo")',
            dejarDeCompartirCarpetaUrl: '@Url.Action("DejarDeCompartirCarpeta", "Archivo")',
            listarUsuariosUrl: '@Url.Action("ListarUsuarios", "Usuario")',
        };
    </script>
    <script src="@Url.Content("~/Scripts/Views/Archivos.js")" type="text/javascript"></script>
}